.template {
    display: none;
}
.project-thumbnail {
    display: block;
    position: relative;
    text-decoration: none;
    margin-bottom: 1em;
    width: 100%;
}
.project-thumbnail img {
    width: 100%;
}
.portfolio p {
    box-sizing: border-box;
    margin: 0 0 0.5em 0;
    padding: 1em;
}
/* #portfolio {
    background-image: linear-gradient(to left, white, rgb(232, 234, 227));
} */
.hide {
    display: none;
}
.show {
    padding: 3px;
    text-align: left;
    width: 100%;
}

/*================== MIN-WIDTH 400px*/
@media only screen and (min-width: 400px) {
    #portfolio {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1em;
    }
    .project-thumbnail {
        width: 45%;
    }
    .project-thumbnail img {
        width: 100%;
    }
}

/*================ MIN-WIDTH 930px*/
@media only screen and (min-width: 930px) {
    #portfolio {
        position: absolute;
        left: 51vw;
        top: 0;
        display: flex;
        flex-wrap: wrap;
        vertical-align: top;
        width: 46vw;
    }
    .project-thumbnail {  
        left: 0%;
        padding: 0;
        width: 50%;
        margin: 0 1% 1% 1%;
    }
    .project-thumbnail img {
        width: 100%;
    }
    p.hide {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        box-sizing: border-box;
        color: whitesmoke;
        display: inline-block;
        width: 42%;
        padding: 1%;
    }
}


/*=================ARROWS*/

.arrow-container {
    position: absolute;
    right: 0.5em;
    bottom: 1.75em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    height: 2em;
    width: 2em;
}
.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    margin-right: 5px;
    padding: 3px; 
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.arrow.down {
    position: absolute;
    top: 0.75em;
    left: 0.75em;
    border-color: white;
    border-width: 0 2px 2px 0;
}
@media only screen and (min-width: 400px) {
    .arrow-container {
        display: block;
    }
    .arrow.down {
        display: block;
    }
}
@media only screen and (min-width: 930px) {
    .arrow-container {
        display: none;
    }
    .arrow.down {
        display: none;
    }
}