.icon {
    color: #262037;
    position: absolute;
    top: 0;
    left: 0;
    margin: 6px;
    font-size: 1.5em;
    z-index: 2;
}
#menu-arrow {
    display: none;
}
.nav-menu {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #262037;
    color: #fd7554;
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s;
}
.nav-menu ul {
    margin-top: 10%;
    list-style: none;
}
.active {
    font-weight: bolder;

}
.nav-menu a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 40px;
    color: #fd7554;
    display: block;
    transition: 0.3s;
    text-align: center;
}
.nav-menu.show {
    width: 100%;
    background-color: #262037;
}
.nav-menu ul {
    opacity: 0;
    transition: opacity 0.5s;
    height: 0;
    overflow: hidden;
}
.nav-menu.show ul {
    margin-top: 10%;
    opacity: 1;
    height: auto;
}
.closebtn {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0.5em;
    font-size: 3em;
    opacity: 0;
}
.closebtn.show {
    opacity: 1;
}

@media only screen and (min-width: 800px) {
    .nav-menu {
        display: block;
        width: 100px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-image: linear-gradient(#fd755470, transparent);
        background-color: transparent;
        padding-top: 5px;
    }
    .nav-color-change {
        background-color: #262037;
    }
    #menu-arrow {
        display: inline-block;
        border: solid #fd7554;
        border-width: 0 4px 4px 0;
        border-radius: 5px;
        padding: 30px;
        margin-top: 2em;
        transform: rotate(-45deg);
        /* background-image: linear-gradient(to bottom right, #f9ddc300, #f9ddc300, #fd7554); */
    }
    .nav-menu ul {
        list-style: none;
        /* display: flex;
        justify-content: space-between; */
    }
    .nav-menu a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 40px;
        color: #fd7554;
        /* display: none; */
        transition: 0.3s;
        text-align: center;
    }
    .nav-menu.close {
        top: 0;
        right: 0;
    }
    .icon {
        display: none;
    }
    .icon-menu {
        display: none;
    }
    a.closebtn {
        display: none;
    }
}

