/*============== DEFAULT MOBILE LAYOUT*/
.social-links {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0;
}
.social {
    display: inline-block;
    width: 100%;
    max-width: 60px;
    margin-top: 15%;
}
.social-icons {
    width: 100%;
    opacity: 0;
    transition-duration: 0.15s;
    transition-property: opacity;
}
.social-icons.show {
    opacity: 1;
}
