/*============== DEFAULT MOBILE LAYOUT*/
.social-links {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0;
}
.social {
    display: inline-block;
    width: 100%;
    max-width: 60px;
    margin-top: 15%;
}
.social-icons {
    width: 100%;
    opacity: 0;
    transition-duration: 0.15s;
    transition-property: opacity;
}
.show .social-icons {
    opacity: 1;
}

/* .social-active {
    display: block;
} */
/*================== MIN-WIDTH 400px*/
/* @media only screen and (min-width: 400px) {
    .social-icons {
        width: 2em;
    }
} */

/* ================ MIN-WIDTH 930px */
/* @media only screen and (min-width: 930px) {
    .social-links {
        background-color: transparent;
        position: fixed;
        bottom: 0;
        margin: 0;
        left: 0;
        padding: 0;
        width: 49vw;
    }
} */