.template {
    display: none;
}
#portfolio {
    background-color: rgb(245, 247, 241);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 1em;
}
.project-thumbnail {
    display: block;
    position: relative;
    text-decoration: none;
    margin-bottom: 1em;
    width: 100%;
}
.project-thumbnail img {
    width: 100%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.61);
}
.modal-content {
    display: flex;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}
.close {
    color: white;
    position: absolute;
    top: .75em;
    right: 1.5em;
    font-size: 2em;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2em;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.my-portfolio {
    /* display: flex; */
    width: 95%;
    margin: 0 auto;
}
.my-portfolio img{
    width: 100%;
}
.more-info {
    color: #262037b0;
    top: 0;
    background-color: white;
    padding: 0.5em;
}
.more-info p{
    padding-top: 10px;
}
.more-info a{
    text-decoration: none;
    color: #262037b0;
}
.more-info span {
    position: relative;
    left: 68%;
}
.show {
    padding: 3px;
    text-align: left;
    width: 100%;
}

/*================== MIN-WIDTH 400px*/
@media only screen and (min-width: 600px) {
    #portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .project-thumbnail {
        width: 45%;
    }
    .project-thumbnail img {
        width: 100%;
    }
}

/*================ MIN-WIDTH 930px*/
/* @media only screen and (min-width: 930px) {
    #portfolio {
        position: absolute;
        left: 51vw;
        top: 0;
        display: flex;
        flex-wrap: wrap;
        vertical-align: top;
        width: 46vw;
    }
    .project-thumbnail {  
        left: 0%;
        padding: 0;
        width: 50%;
        margin: 0 1% 1% 1%;
    }
    .project-thumbnail img {
        width: 100%;
    }
    p.hide {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        box-sizing: border-box;
        color: whitesmoke;
        display: inline-block;
        width: 42%;
        padding: 1%;
    }
}
 */

/*=================ARROWS*/
.arrow {
    width: 1em;
    height: 1em;
    border: solid #262037;
    border-width: 0 3px 3px 0;
    margin: 0.5em 0 0.5em .75em;
    transform: rotate(45deg);
    cursor: pointer;
}

/* .arrow-container {
    position: absolute;
    right: 0.5em;
    bottom: 1.75em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    height: 2em;
    width: 2em;
} */
/* .arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    margin-right: 5px;
    padding: 3px; 
} */
/* .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
} */
/* .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
} */
/* .arrow.down {
    position: absolute;
    top: 0.75em;
    left: 0.75em;
    border-color: white;
    border-width: 0 2px 2px 0;
} */
/* @media only screen and (min-width: 400px) {
    .arrow-container {
        display: block;
    }
    .arrow.down {
        display: block;
    }
} */
/* @media only screen and (min-width: 930px) {
    .arrow-container {
        display: none;
    }
    .arrow.down {
        display: none;
    }
} */